.box {
  height: 10%;
}

@supports(object-fit: cover) {
  .box -webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
  }

  .box -webkit-scrollbar-track {
    background: orange;
    /* color of the tracking area */
  }

  .box -webkit-scrollbar-thumb {
    background-color: blue;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid orange;
    /* creates padding around scroll thumb */
  }
}
