@import "assets/scss/variables.scss";

/* Bootstrap custom variables */
$nav-tabs-border-color: transparent;
$accordion-button-active-bg: $primary-color;
$accordion-button-active-color: white;
$card-border-color: transparent;

/* $theme-colors: (
  "primary":#0c7ce6,
  "secondary": #6c757d,
  "success":#04BE5B,
  "info":#1cbfd0,
  "warning": #FF9948,
  "danger": #ee2558,
  "light": #f8f9fa,
  "dark": #212529,
); */

@import "node_modules/bootstrap/scss/bootstrap";
